PORT=8000
MONGO_URI=mongodb+srv://atanusur48_db_user:0yibK8znraTCCi3o@cluster0.bwbgz4s.mongodb.net
JWT_SECRET=3580163136734854cd679ab4976acd9d368df9c0cc833f9c95a3d41898e4a9ef
GROQ_API_KEY=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
ADMIN_USERNAME=admin
ADMIN_PASSWORD=Admin@1234
FRONTEND_URL=https://advanced-feedback-system-pearl.vercel.app
