PORT=8000
MONGO_URI=mongodb+srv://atanusur48_db_user:0yibK8znraTCCi3o@cluster0.bwbgz4s.mongodb.net
JWT_SECRET=3580163136734854cd679ab4976acd9d368df9c0cc833f9c95a3d41898e4a9ef
GEMINI_API_KEY=AQ.Ab8RN6JdwaVlIVumy-zk8wLLe8KqlSn7hHjB2mxU1ncPqlKE1g
ADMIN_USERNAME=admin
ADMIN_PASSWORD=Admin@1234
FRONTEND_URL=http://localhost:5173
